*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ...............Heading section add................ */
.heading{
    background-size: cover;    
    background-repeat: no-repeat;
    background-image: url(images/donation1.jpg);
}
.heading h1{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 200px 20px 20px 20px;
}
.heading p{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 0px 200px;
}
.heading h3{
    width: 150px;
    margin: 0 auto;
    padding:44px 0px 200px 0px;
}
.heading h3 a{
    padding: 15px;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    background-color: #FF5959;
}
/* ..........donate area......... */
.Donate-area{
    margin-top: 130px;
    text-align: center;
}
.Donate-title{
    font-size: 60px;
    font-weight: 700;
    color: #000000;
}
.Donate-area p{
    margin-top: 20px;
    padding: 0px 200px;
}
.Amount{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.Donate{
    width: 200px;
    overflow: hidden;
    padding: 40px 10px;
    border-radius: 10px;
    background-color: #FAFAFA;
    margin: 60px 10px 10px 10px;
}
.style{
    border-radius: 10px;
    border: 3px solid red;
    background-color: #FFEEEE;
}
.Donate-area h2{
    font-weight: 100;
    color: #B3B3B3;
    margin:60px 0px 10px 0px;
}
hr{
    width: 1200px;
    margin: 0 auto; 
}
/* .......button style...... */
.Donate-area h3{
    width: 150px;
    margin: 0 auto;
    padding:50px 0px 80px 0px;
}
.Donate-area h3 a{
    padding: 15px;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    background-color: #FF5959;
}

.Donate-plan{
    margin-top: 30px;
    text-align: center;
}
.Donate-plan h1{
    font-size: 60px;
    font-family: 400;
    color: #000000;
    font-weight: bold;
}
.Donate-plan p{
    padding: 0px 200px;
}
.Donate-item{
    width: 100%;
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.items{
    width: 25%;
    margin: 10px;
    text-align: left;
    padding: 40px 0px 40px 25px;
} 
.items img{
    margin-bottom: 20px;
    margin: 50px 0px 10px 15px;
} 
.items h2{
    margin-bottom: 20px;
}
.items h5{
    margin-right: 15px;
}
.bg-1{
    background-color: #EDF5F6;
}
.bg-2{
    background-color: #FFEEEE;
}
.bg-3{
    background-color: #EDF5F6;
}
/* ........Donation......... */

.donation{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.donate-contant{
    width:50%;
    float: left;
}
.donate-contant h1{
    font-size: 40px;
    margin-top: 45px;
    
}
.donate-contant p{
    font-size: 18px;
    color: #7D7D7D;
    padding: 5px;
    margin-bottom: 20px;
}
.donate-img img{
    width: 500px;
}
.button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.donate-img img{
    width: 100%;
    float: right;
    border-radius: 10px;
}
/* ........Donate plan........ */
.donation-part2{
    display: flex;
    padding: 80px;
    justify-content: center;
}
.donate-contant-part2{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.donate-contant-part2 h1{
    font-size: 40px;
    margin-top: 45px;
    
}
.donate-contant-part2 p{
    font-size: 18px;
    color: #7D7D7D;
    padding: 5px;
    margin-bottom: 20px;
}
.donation-img img{
    width: 100%;
}
.button-part2{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.donate-img img{
    width: 100%;
    float: right;
    border-radius: 10px;
}
/* ............Extra.......... */
.sub-header{
    text-align: center;
    font-size: 30px;
    color: green;
    font-family: 400;
}
.Bonus{
    display: flex;
    padding: 50px 120px;
    margin-top: 0px;
}
.content img{
    width: 80%;
    padding: 20px;
    justify-content: center;
}
.content h2{
    text-align: left;
    padding: 10px 60px 10px 18px;
}
.content p{
    color: #7D7D7D;
    text-align: left;
    padding: 0px 50px 0px 18px;
}


/* ........Updates........ */
.Updates{
    text-align: center;
    margin-top: 20px;     
}
.Updates h1{
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: 400;
}
.Updates p{
    color: #959595;
    font-size: 18px;
    padding: 10px 200px;
}
form{
    margin: auto;
    margin-top: 30px;
    width: 700px;
    background-color: #FFF4D6;
    height: 150px;
}
.input{
    margin-top: 58px;
    font-size: 22px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.submit{
    margin-top: 58px;
    font-size: 22px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #FF5959;
}
text{
    font-size: 10px;
}
/* .........footer add ......... */
.footer{
    text-align: center;
    background-color: #0B0D17;
    height: 200px;
}
.footer h2{
    color: #ffffff;
    padding-top: 50px;
    margin: 30px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.footer p{
    color: #ffffff;
    font-size: 12px;
}